html {
  font-size: $font-size-root;
  scroll-behavior: smooth;
}

.body {
  @include font();
  @extend %font-primary;
  color: $color-text;
  @extend %custom-scroll;

  &_lock{
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $color-titles;
}

h1 {
  @extend %font-secondary;
  @include font(4.4rem, 5.4rem, 700);

  @include media($tablet) {
    @include font(4.4rem, 5.4rem, 400);
  }

  @include media($mobile) {
    @include font(3.2rem, 4.2rem, 700);
  }
}

h2 {
  @include font(3.4rem, 4.6rem, 700);

  @include media($mobile) {
    @include font(2.4rem, 3.3rem, 700);
  }
}

h3 {
  @include font(2.4rem, 3.4rem, 700);

  @include media($mobile) {
    @include font(2.1rem, 3.1rem, 700);
  }
}

h4 {
  @include font(2.2rem, 3rem, 600);

  @include media($mobile) {
    @include font(2rem, 2.7rem, 600);
  }
}

h5 {
  @include font(2rem, 3rem, 600);

  @include media($mobile) {
    @include font(1.8rem, 3rem, 600);
  }
}

h6 {
  @include font($weight: 700);
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.block-shadowed{
  box-shadow: 0px 4px 20px 0px $color-header-shadow;
border-radius: 9px;
}
