$line-height: 3px;
//placeholder
%line {
  content: "";
  width: 100%;
  height: $line-height;
  border-radius: 5px;
  position: absolute;
  left: 0;
  background-color: $color-button;
  @extend %transition;
}

.hamburger {
  width: 31px;
  height: 25px;
  display: none;
  position: relative;

  @include media($tablet) {
    display: inline-block;
  }

  &::before {
    @extend %line;
    top: 0;
  }
  &::after {
    @extend %line;
    bottom: 0;
  }
}

.hamburger__line {
  @extend %line;
  top: calc(50% - $line-height/2);
}
