.switcher {
  display: none;
  width: 8px;
  height: 8px;
  border: 1px solid $color-titles;
  border-radius: 50%;
  &_color {
    background-color: $color-titles;
  }
  @include media($tablet) {
    display: inline-block;
  }
}

.switchers {
  display: flex;
  gap: 5.5px;
}
