$color-primary: #ff9900;
$color-secondary: #ff7549;
$color-hover-header: #bcd0e5;
$color-background: #ffeee1;
$color-titles: #2f281e;
$color-text: #544837;
$color-error-border: #f03e3d;
$color-error-field: #fff0f0;
$color-link: #1943ef;
$color-light: #fff;
$color-tag-selected: #f5f5f5;
$color-icon-arrow: #7752be;
$color-icon-snake: #fab005;
$color-icon-heart: #f03e3d;
$color-icon-hourglass: #4dadf7;

$width-content-laptop: 1440px;
$width-content-tablet: 768px;
$width-content-mobile: 320px;

$font-size-root: 10px;
