.layout-4-columns {
  @include columns(21.5%);
}

.layout-3-columns {
  @include columns(30%);
  &:after {
    content: "";
    width: 30%;
    display: flex;
  }
}

.layout-2-columns {
  @include columns(48%);
}
