.header {
  box-shadow: 0px 4px 20px 0px $color-header-shadow;
  padding: 16px 0;
  overflow: hidden;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  @include media($tablet) {
    gap: 37px;
  }
  @include media($mobile) {
    gap: 61px;
  }
}
.icon-logo:hover {
  filter: invert(69%) sepia(44%) saturate(4334%) hue-rotate(359deg)
    brightness(101%) contrast(103%);
  @extend %transition;
}
.header__navigation {
  @include media($tablet) {
    display: none;
  }
}
.header__buttons {
  display: flex;
  gap: 14px;
  @include media($mobile) {
    display: none;
  }
}
