.header {
  box-shadow: 0px 4px 20px 0px $color-header-shadow;
  padding: 16px 0;
  overflow: hidden;

  @include media($mobile) {
    padding: 21px 0;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media($tablet) {
    padding: 0 50px 0 24px;
  }

  @include media($mobile) {
    padding-left: 21px;
  }
}

.header__logo {
  display: flex;
  align-items: center;

  @include media($tablet) {
    gap: 37px;
    z-index: 5;
  }

  @include media($mobile) {
    gap: 61px;
  }
}

.icon-logo {
  @include media($mobile) {
    max-width: 158px;
  }
  &:hover {
    filter: invert(69%) sepia(44%) saturate(4334%) hue-rotate(359deg)
      brightness(101%) contrast(103%);
    @extend %transition;
  }
}

.header__navigation {
  margin-right: 42px;
  @extend %transition;

  @include media($tablet) {
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
    width: min(85%, 342px);
    height: 100vh;
    background-color: $color-light;
    z-index: 4;

    &_active {
      left: 0;
    }

    & ul {
      flex-flow: column;
      padding: 124px 0 0 55px;
      @include font(2.2rem, 2.8rem);
      gap: 34px;

      @include media($mobile) {
        padding: 122px 0 0 72px;
      }
    }
  }
}

.header__buttons {
  display: flex;
  gap: 14px;
  @extend %transition;

  @include media($mobile) {
    position: fixed;
    flex-flow: column;
    top: 371px;
    left: -100%;
    z-index: 4;

    &_active {
      left: 72px;
    }

    & button {
      padding: 11px 56px;
    }
  }
}
